{% extends "base.html" %}

{% block title %}
    Login
{% endblock title %}

{% block sidenav %}

    <li>
        <a href="/">home </a>
    </li>

{% endblock sidenav %}

{% block content %}
<h1 align = "center"> User Login</h1>
<form action="{% url 'login' %}" method="post"  >
    <table>
        {{ form.as_table }}
        <tr>
            <td colspan="2">
                <input class="btn btn-secondary" type="submit" value="login">
            </td>
        </tr>
    </table>
    <p> To register <a class="link-success" href="{% url 'register' %}"> click here</a>
    </p>
   <input type="hidden" name="next" value="{{ next }}" />
     {% csrf_token %}
  </form>
{% endblock content %}

