{% extends "base.html" %}

{% block title %}
    My Books Page
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
    <li>
        <a href="{{item.link}}">{{item.item}} </a>
    </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 align="center"> About me </h1>
<h2> We’re in the business of tracking books.
    But we also work every day to ato show our own community so share their passion for books and see the information they want to see about it .</h2>

{% endblock content %}