{% extends "base.html" %}
{% load static %}
{% block title %}
    book detail
{% endblock title %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% block sidenav %}
    {% for item in item_list %}
    <li>
        <a href="{{item.link}}">{{item.item}} </a>
    </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}

<div class="card" style="width: 18rem;">
  <img src="{% static book.pic_path %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> Books detail</h5>
    <p class="card-text"> {{book.name}}</p>
    <p class="card-text">
      {{book.username}}
    </p>
 <p class="card-text"> </p>

 {% if is_favorite %}
    <a class="btn btn-outline-danger"  href="http://127.0.0.1:8000/book_favorite/{{ book.id }}">    <p>unfavorite </p>   </a>
  {% else %}
    <a class="btn btn-outline-danger"  href="http://127.0.0.1:8000/book_favorite/{{ book.id }}">    <p>favorite</p> </a>
     {% endif %}
</div>






{% endblock content %}

