{% extends "base.html" %}
{% load static %}
{% block title %}
    Display Book Page
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
    <li>
        <a href="{{item.link}}">{{item.item}} </a>
    </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 align="center"> Display Books Page </h1>
<div class="card-columns">
{% for book in books %}
 <div class="card m-1" style="display: inline-block; width: 15rem;">
     <img class="card-img-top" src="{% static book.pic_path %}">
  <div class="card-body">
	 <p class="card-text">
      <a href="book_detail/{{ book.id }}" class="stretched-link text-primary">  {{ book.name }}</a>
    </p>
  </div>
</div>

{% endfor %}
</div>
{% endblock content %}

