{% extends "base.html" %}

{% block title %}
    FAV
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
    <li>
        <a href="{{item.link}}">{{item.item}} </a>
    </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 align="center"> favorite books </h1>

{% if user.is_authenticated %}
 {% for book in books %}
   <div class="card" style="width: 18rem;">
  <div class="card-body">

	 <p class="card-text">
      <a href="http://127.0.0.1:8000/book_detail/{{ book.id }}" class="stretched-link text-primary" style="position: relative;">  {{ book.name }}</a>
    </p>

  </div>
</div>
{% endfor %}
            {% else %}
you are not logged in to see book favorites
            <a href="{% url 'login' %}?next=/">login</a>
            {% endif %}
{% endblock content %}