{% extends "base.html" %}

{% block title %}
    My Books Page
{% endblock title %}

{% block sidenav %}
    {% for item in item_list %}
    <li>
        <a href="{{item.link}}">{{item.item}} </a>
    </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 align="center"> My Books Page </h1>

{% if user.is_authenticated %}
    {% for book in books %}
    <div class="card" style="width: 18rem;">
  <div class="card-body">

	 <p class="card-text">
      <a href="book_detail/{{ book.id }}" class="stretched-link text-primary" style="position: relative;">  {{ book.name }}</a>
    </p>
    <p class="card-text">
      <a  class="btn btn-outline-danger" href="book_delete/{{ book.id }}">
                delete
            </a>
    </p>

  </div>
</div>
    {% endfor %}
      {% else %}
you are not logged in to see your books
            <a href="{% url 'login' %}?next=/">login</a>
            {% endif %}
{% endblock content %}